/* TOPO */

#topo {
	width: 100%;
	height: 80px;
	background-color: #8b6b99;
	position: fixed;
	margin-top: -100px;
	margin-left: -8px;
}

#logo {
	margin-top:-48px;
	margin-left: -50px;
	color: #FFFFFF;
	font-family: "Cedarville Cursive", cursive; 
	font-size: 43px;
	text-align: center;
}

.posiavatar {
	width: 32px;
	height: 32px;
	margin-top: -100px;
	margin-left: 60px;
}

/* configuração do texto */
.titulosinopse {
	color: #25a2c3;
	font-size: 1.5em;
	text-align: center;
	font-family: "Arial";
	
}

.sinopse {
	color: #727a82;
	font-size: 1em;
	text-align: justify;
	font-family: "Arial";
}

.autor {
	color: #25a2c3;
	font-size: 1em;
	text-align: justify;
	font-family: "Arial";
	margin-left: 455px;
	text-decoration: none;
}

.positexto {
	width: 560px;
	margin-left: 20px;
}

.titulocomentarios{
	color: #25a2c3;
	font-size: 1.5em;
	text-align: center;
	font-family: "Arial";
	margin-left: -1020px;
}

.autorcoment {
	color: #25a2c3;
	font-size: 1em;
	text-align: justify;
	font-family: "Arial";
	margin-left: 30px;
	text-decoration: none;
	font-weight: bold;
}

.textocoment {
	color: #727a82;
	font-size: 1em;
	text-align: justify;
	font-family: "Arial";
}
/*----------botao--------*/
#botao {
	width: 140px;
	height: 38px;
	border-radius: 5%;
	border:0.6px solid #8b6b99;
	text-align: center;
	background-color: #ffffff;
	margin-top: -20px;
}

#posibotao {
	margin-top: 10px;
}

#linkbotao {
	color: #8b6b99;
	text-decoration: none;
	font-family: "Arial";
	background-color: #ffffff;
}



/* div meio */
.divsinopse {
	width: 600px;
	height: 460px;
	background-color: #ffffff;
	border-radius: 4%;
	border: 3px solid #8b6b99;
	margin-top: 100px;
	margin-left: 320px;	
	
}

.divcomentarios {
	width: 1220px;
	height: 430px;
	background-color: #ffffff;
	border-radius: 4%;
	border: 3px solid #ffffff;
	margin-left: 20px;	
	margin-top: 20px;
	
}

/*posição comentarios*/
#posicoment1 {
	width: 570px;
}









