
/* TOPO */
#topo {
	width: 100%;
	height: 80px;
	background-color: #8b6b99;
	position: fixed;
	margin-top: -130px;
	margin-left: -8px;
}

#logo {
	margin-top:-48px;
	margin-left: -50px;
	color: #FFFFFF;
	font-family: "Cedarville Cursive", cursive; 
	font-size: 43px;
	text-align: center;
}

/* CADASTRO */
#cadastro {
	width: 500px;
	height: 500px;
	border-radius: 2%;
	border: 3px solid #8b6b99;
	margin-top: 10%;
	margin-left: 5%;	
	background-color: #FFFFFF;
}

.titulo{
	color: #8b6b99;
	font-family: "Arial";
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}


label {
	margin-left: 20px;
	color: #a5a5a5;
	font-family: "Arial";
	font-size: 22px;
}
#tamquadrado1 {
	width: 370px;
}

#tamquadrado2 {
	width: 260px;
}

#tamquadrado3 {
	width: 365px;
}

#tamquadrado4 {
	width: 362px;
}

#tamquadrado5 {
	width: 206px;
}

#tamquadrado6 {
	width: 260px;
}

#tamquadrado7 {
	width: 362px;
}

.formulario {
	color: #666363;
	font-family: "Arial";
	font-size: 14px;
	height: 26px;
	border: 2px solid #bcbcbc;
	border-radius: 5%;
	background-color: #FFFFFF;
}

/* LOGIN */
#login {
	width: 500px;
	height: 350px;
	border-radius: 2%;
	border: 3px solid #8b6b99;
	margin-top: -38.7%;
	margin-left: 55%;
	background-color: white;
}

/* LINHA */
#linha {
	width: 0.5px;
	height: 480px;
	margin-left: 49.5%;
	margin-top: -38.1%;
	background-color: #8b6b99;
	background-position: float;
}
 /*BOTAO*/
.botao {
	width: 180px;
	height: 40px;
	border-radius: 5%;
	border:0.1px solid #8b6b99;
	text-align: center;
	margin-top: 43px;
	margin-left: 160px;
	background-color: #8b6b99;
}

.posibotao {
	margin-top: 10px;
}

.linkbotao {
	color: #ffffff;
	text-decoration: none;
	font-family: "Arial";
}

/*BOTAO2*/

.botao2 {
	width: 180px;
	height: 40px;
	border-radius: 5%;
	border:0.1px solid #8b6b99;
	text-align: center;
	margin-top: 43px;
	margin-left: 160px;
	background-color: #8b6b99;
}

.posibotao2 {
	margin-top: 10px;
}

.linkbotao2 {
	color: #ffffff;
	text-decoration: none;
	font-family: "Arial";
}

