
/* TOPO */
#topo {
	width: 100%;
	height: 80px;
	background-color: #8b6b99;
	position: fixed;
	margin-top: -10px;
	margin-left: -8px;
}

#logo {
	margin-top:-48px;
	margin-left: -50px;
	color: #FFFFFF;
	font-family: "Cedarville Cursive", cursive; 
	font-size: 43px;
	text-align: center;
}

/* CADASTRO */
#cadastro {
	width: 500px;
	height: 500px;
	border-radius: 2%;
	border: 3px solid #8b6b99;
	margin-top: 10%;
	margin-left: 5%;	
	background-color: #FFFFFF;
	position: fixed;
}

.titulo{
	color: #8b6b99;
	font-family: "Arial";
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

label {
	margin-left: 20px;
	color: #a5a5a5;
	font-family: "Arial";
	font-size: 22px;
}

.formulario {
	color: #666363;
	font-family: "Arial";
	font-size: 14px;
	height: 26px;
	border: 2px solid #bcbcbc;
	border-radius: 8%;
	background-color: #FFFFFF;
}

/* LOGIN */
#logindiv {
	width: 500px;
	height: 350px;
	border-radius: 2%;
	border: 3px solid #8b6b99;
	margin-top: 10%;
	margin-left: 55%;
	background-color: white;
	position: fixed;
	
}

/*BOTAO*/
.posibotao {
	margin-top: 10px;
}

.linkbotao {
	color: #ffffff;
	text-decoration: none;
	font-family: "Arial";
	width: 180px;
	height: 40px;
	border-radius: 5%;
	border:0.1px solid #8b6b99;
	text-align: center;
	margin-top: 23px;
	margin-left: 160px;
	background-color: #8b6b99;
}
}