/* TOPO */
 
 #topo {
 	width: 100%;
 	height: 80px;
 	background-color: #8b6b99;
 	position: fixed;
 	margin-top: -100px;
 	margin-left: -8px;
 }
 
 #logo {
 	margin-top:-48px;
 	margin-left: -50px;
 	color: #FFFFFF;
 	font-family: "Cedarville Cursive", cursive; 
 	font-size: 43px;
 	text-align: center;
 }
 
 .posiavatar {
 	width: 32px;
 	height: 32px;
 	margin-top: -100px;
 	margin-left: 60px;
 }
 
 /* configuração do texto */
 .titulosinopse {
 	color: #25a2c3;
 	font-size: 1.5em;
 	text-align: center;
 	font-family: "Arial";
 	
 }
 
 .sinopse {
 	color: #727a82;
 	font-size: 1em;
 	text-align: justify;
 	font-family: "Arial";
 }
 
 .positexto {
 	width: 560px;
 	margin-left: 20px;
 }
 
 .titulocomentarios{
 	color: #25a2c3;
 	font-size: 1.5em;
 	text-align: center;
 	font-family: "Arial";
 }
 
 .autorcoment {
 	color: #25a2c3;
 	font-size: 1em;
 	text-align: justify;
 	font-family: "Arial";
 	margin-left: 30px;
 	text-decoration: none;
 	font-weight: bold;
 }
 
 .textocoment {
 	color: #727a82;
 	font-size: 1em;
 	text-align: justify;
 	font-family: "Arial";
 }
 
 
 
 /* div meio */
 .divsinopse {
 	width: 600px;
 	height: 570px;
 	background-color: #ffffff;
 	border-radius: 4%;
 	border: 3px solid #8b6b99;
 	margin-top: 100px;
 	margin-left: 30px;	
 	
 }
 
 .divcomentarios {
 	width: 570px;
 	height: 570px;
 	background-color: #ffffff;
 	border-radius: 4%;
 	border: 3px solid #ffffff;
 	margin-top: -575px;
 	margin-left: 680px;	
 	
 }
 
 /*linha*/
 #linhameio {
 	width: 0.5px;
 	height: 470px;
 	margin-left: 657px;
 	margin-top: -520px;
 	background-color: #8b6b99;
 	background-position: fixed;
 }
 
 #linha1 {
 	width: 600px;
 	height: 0.5px;
 	margin-left: 670px;
 	margin-top: -145px;
 	background-color: #8b6b99;
 	background-position: fixed;
 }
 
 #linha2{
 	width: 600px;
 	height: 1px;
 	margin-left: 670px;
 	margin-top: -160px;
 	background-color: #8b6b99;
 	background-position: fixed;
 }
 
 /*posição comentarios*/
 #posicoment1 {
 	width: 570px;
 }
 
/* Botões da publicação */
 .botoes {
 	display: -webkit-flex;
 	display: flex;
 	-webkit-align-items: center;
 	align-items: center;
 	-webkit-justify-content: center;
 	justify-content: center;
 }

 .left {
 	float: left;
 	margin: 0 1.3em;
 }

 .right {
	float: right;
 	margin: 0 1.3em;
 }
 
 .botao {
 	color: #25a2c3;
 	font-size: 1em;
 	text-align: justify;
 	font-family: "Arial";
 	text-decoration: none;
 }

 .botao-fixo {
 	display:scroll;
	position:fixed;
	padding: 20px;
	bottom: 1em;
	right: 4em;
	border-radius: 45px;
	background-color: #8b6b99;
 }
 
 .botao-fixo:hover {
	background-color: #6d5677;
 }

 .botaocoment {
 	color: #25a2c3;
    font-size: 1em;
    text-align: justify;
    font-family: "Arial";
    text-decoration: none;

 }